.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

.game::before {
  content: '';
  position: fixed;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

h1 {
  font-size: 65px;
  font-weight: normal;
  font-style: italic;
  color: black;
  line-height: 65px;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
