.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  position: relative;
}
.game::before {
  content: '';
  position: fixed;
  background: #181d23 url('../../assets/img/Stars.svg') fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

h1 {
  font-size: 65px;
  font-weight: normal;
  font-style: italic;
  color: #fafafa;
  line-height: 65px;
}

.button {
  width: auto;
  min-width: 250px;
}
